<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/themes/base/css")
</head>
<body>
    <div id="container">
        <header>
            <h1>Bookmarks</h1>
            <div id="userSettings">
                @Html.Partial("_UserSettings")
            </div>
        </header>
        <div id="body">
            @RenderBody()
        </div>
        <footer>
            <nav>
                <ul id="menu">
                    <li>@Html.ActionLink("Bookmarks", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "HelpPage" }, null)</li>
                </ul>
            </nav>
            <p>&copy; @DateTime.Now.Year - Peter MacNaughton</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/base")
    @Scripts.Render("~/bundles/ajaxlogin")
    @RenderSection("scripts", required: false)
</body>
</html>