@model BookmarkRepository.Models.LoginModel
@{
    ViewBag.Title = "BookmarkRepo";
}
@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;                
    }
}
<section id="main-content">
@if (@User.Identity.IsAuthenticated)
{
    <aside>
        <section id="bookmarkletSection">
            <h3>Adding bookmarks</h3>
            Grab the bookmarklet below and put it on your bookmark bar.<br />
            Browse to the page you want to bookmark and click the bookmarklet!<br />
            <a data-bind="attr: { href: bookmarkletLink }">bookmark it!</a>
        </section>
    
        <section id="shortcutLegend">
            <h3>Keyboard shortcuts</h3>
            <h4>up/down</h4>
            <p>selects the previous/next bookmark.</p>
            <h4>enter</h4>
            <p>goes to the selected bookmark.</p>
            <h4>delete</h4>
            <p>deletes the selected bookmark.</p>
        </section>
    </aside>
    <ul id="bookmarks" data-bind="foreach: bookmarks">
        <li class="bookmark" data-bind="css: { selectedBookmark: $data == $root.selectedBookmark() }">
            <h4 class="name" data-bind="text: name"></h4>
            <a class="url" data-bind="attr: { href: url }, text: url" target="_blank"></a>
        </li>
    </ul>
} else {
    <aside id="socialLoginPanel">
        <section>
                <h3>Log in using another service</h3>
                @Html.Action("ExternalLoginsList", "Account", new { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </aside>
    <div id="loginPanel">
        <section id="localLoginPanel">
            <h2>Log in</h2>
            @Html.Partial("_Login")
            <p>First time here? <a id="showRegister">Sign up</a></p>
        </section>
    </div>
    <div id="registerPanel">
        <h2>Sign up</h2>
        @Html.Partial("_Register")
        <p>Already signed up? <a id="showLogin">Log in</a></p>
    </div>
    }
</section>

@if (@User.Identity.IsAuthenticated)
{
    @section scripts {
        @Scripts.Render("~/bundles/bookmark")
    }
}